<h1>Selection Sort</h1>
<p>
  Selection Sort is one of the simplest sorting algorithms, the main issue with this algorithm is that it is slow!
</p>

<p>
  The algorithm moves through the list from left to right moving the 
  smallest element into the current position. This process is carried
  out for every item in the list. In the code for this page a example 
  algorithm is provided the uses the algorithm to create a new sorted 
  list instead of sorting in place. 
</p>

<p>
  Test Selection Sort below:
</p>

<app-number-gen [(inputListRaw)]="this.inputListRaw"></app-number-gen>
<div class="ptop20">
  <button 
  type="button" 
  mat-raised-button 
  color="accent"
  (click)="this.sortInput()">Sort</button>
</div>
<div class="ptop20 output">
  Sorted list: {{ this.sortedList }}
</div>

<div class="ptop20">
  Debug info: 
  <div *ngFor="let line of this.debug">
    <span [ngClass]="this.getDebugStyle(line)">{{ line }}</span> <br />
  </div>
</div>