<p>
  Welcome! This is a small app to demonstrate some fundamental Computer Science algorithms and data structures in TypeScript and Angular. 
  Select and Algorithm from the side-bar on the left!
</p>

<h1>Core Computer Science</h1>

<div fxLayout="row" fxLayoutGap="20px">
  <button mat-raised-button color="accent" [routerLink]="['/App/BinarySearch']">Binary Search</button>
  <button mat-raised-button color="accent" [routerLink]="['/App/SelectionSort']">Selection Sort</button>
  <button mat-raised-button color="accent" [routerLink]="['/App/MergeSort']">Merge Sort</button>
  <button mat-raised-button color="accent" disabled >Depth-First Search</button>
  <button mat-raised-button color="accent" disabled >Merge Sort</button>
  <button mat-raised-button color="accent" disabled >Quick Sort</button>
</div>

