<p>
  Welcome! This is a small app to demonstrate some fundamental Computer Science
  algorithms and data structures in TypeScript and Angular. Select and link from
  the side-bar on the left or below!
</p>

<p>
  The code for this application can be found here
  <a href="https://github.com/JonathanSiddle/AngularAlgorithms"
    >https://github.com/JonathanSiddle/AngularAlgorithms</a
  >
</p>

<h1>Core Computer Science</h1>

<h2>Sorting Algorithms</h2>

<div fxLayout="row" fxLayoutGap="20px">
  <button mat-raised-button color="accent" [routerLink]="['/App/BubbleSort']">
    Bubble Sort
  </button>
  <button
    mat-raised-button
    color="accent"
    [routerLink]="['/App/SelectionSort']"
  >
    Selection Sort
  </button>
  <button mat-raised-button color="accent" [routerLink]="['/App/MergeSort']">
    Merge Sort
  </button>
  <button mat-raised-button color="accent" [routerLink]="['/App/QuickSort']">
    Quick Sort
  </button>
</div>

<h2>Other:</h2>

<div fxLayout="row" fxLayoutGap="20px">
  <button mat-raised-button color="accent" [routerLink]="['/App/BinarySearch']">
    Binary Search
  </button>

  <button mat-raised-button color="accent" [routerLink]="['/App/GraphSearch']">
    Graph Search
  </button>
</div>
