.sideNav {
  width: 300px;
}

.main-content {
width: 100%;
padding: 30px;
box-sizing: border-box;
}

.title {
padding-left: 30px;
}

.main-wrapper {
height: 100%;
display: flex;
flex-direction: column;
}

.spacer {
flex: 1 1 auto;
}

.mat-icon-button {
  
}