<h1>Quick Sort</h1>
<p>
  Quicksort involves selecting an item in the list (the pivot) in this implementation the last element of the list is selected. 
  The algorithm will find the correct position for the pivot, moving items lower to the left and items greater to the right, this is called partitioning.
  Once the items have been partitioned, quicksort is called again with the items to the left of the pivot, then the right of the pivot.
</p>
<p>
  Quick Sort is an efficient sorting algorithm and suitable to be applied to large lists.
</p>

<p>
  An example of quicksort in action can be found <a href="https://www.youtube.com/watch?v=ywWBy6J5gz8">here.</a>
  <br />
  <a href="https://en.wikipedia.org/wiki/Quicksort">Overview of quicksort</a>
</p>

<p>
  Test Quick Sort below:
</p>

<app-number-gen [(inputListRaw)]="this.inputListRaw"></app-number-gen>

<div class="ptop20">
  <button 
  type="button" 
  mat-raised-button 
  color="accent"
  (click)="this.sortInput()">Sort</button>
</div>

<div class="ptop20 output">
  Sorted list: {{ this.sortedList }}
</div>

<div class="ptop20">
  Debug info: 
  <div *ngFor="let line of this.debug">
    <span [ngClass]="this.getDebugStyle(line)">{{ line }}</span> <br />
  </div>
</div>